<h2>Edit this movie</h2>
<form action="/movies/edit/{{movieToEdit._id}}" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{movieToEdit.title}}">
    <label for="genre">Genre</label>
    <input type="text" id="genre" name="genre" value="{{movieToEdit.genre}}">
    <label for="plot">Plot</label>
    <input type="text" id="plot" name="plot" value="{{movieToEdit.plot}}">
    <label for="cast">Cast</label>
    <select name="cast" id="cast">
        {{#each celebrities}}
            {{!-- {{#if movieToEdit.cast}}
                <option value="{{this.name}}" selected>{{this.name}}</option>
            {{else}} --}}
                <option value="{{this._id}}" >{{this.name}}</option>
            {{!-- {{/if}} --}}
        {{/each}}
    </select>
    <button type="submit">Submit your changes</button>
</form>